//output: index.html
doctype html
html
  head
    link(rel='shortcut icon' href='logo.png' type='image/png')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-capable' content='yes')
    link(rel='apple-touch-icon' href='logo.png')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name='description' content="San Mateo's first high school hackathon.")
    meta(name='keywords' content='san mateo hackathon, sm hackathon, san mateo hacks, sm hacks, smhacks, san mateo high school, smhs, smhs hackathon, high school hackathon, hackathon, san mateo')
    link(rel='author' href='https://plus.google.com/+BenPangMolarmanful')
    link(rel='canonical' href='http://smhacks.com')
    meta(property='og:site_name' content='SM Hacks')
    meta(property='og:title' content='SM Hacks')
    meta(property='og:description' content="San Mateo's first high school hackathon.")
    meta(property='og:image' content='http://www.smhacks.com/social-media-logo.png')
    meta(property='og:url' content="http://www.smhacks.com")
    meta(property='twitter:image' content='http://www.smhacks.com/social-media-logo.png')
    title SM Hacks
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.4/css/uikit.min.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    style.
      .uk-tab>.uk-active>a{
        border-color:#ff8300;
      }
      a,a:hover,#winners h2{
        color:#ff8300;
      }
  body
    .uk-cover-container#cover(style='background-color:black')
      img.uk-responsive-width(src='team.jpg' style='opacity:.7')
      .uk-overlay.uk-light.uk-position-center.uk-text-center
        h1.uk-heading-divider Thank you.
        p.uk-text-lead We, the SM Hacks Team, would like to thank all participating sponsors, mentors, and – most of all – hackers for supporting us to make SM Hacks as great as it was.
    .uk-section#winners: .uk-container.uk-container-small
      h2.uk-text-center Winners
      hr.uk-divider-small.uk-text-center
      p.uk-text-center.uk-text-lead See all submissions <a href='https://smhacks.devpost.com/submissions' target='_blank'>here</a>.
      ul.uk-tab(uk-tab='animation:uk-animation-slide-bottom-small')
        li.uk-active: a First
        li: a Second
        li: a Third
        li: a Best iOS App
        li: a Best Web App
        li: a Best Android App
      ul.uk-switcher
        li
          h1: a(href='https://devpost.com/software/motivate-d6oyx1' target='_blank') DMS
          img.uk-responsive-width(src='https://scontent.xx.fbcdn.net/v/t31.0-8/15994477_10210434998864393_5063806027654789355_o.jpg?oh=f87db90fbc07f88150711cce49ef84ce&oe=590529B2')
        li
          h1: a(href='https://devpost.com/software/opensource-keyboard' target='_blank') Open Source Keyboard
          img.uk-responsive-width(src='https://scontent.xx.fbcdn.net/v/t31.0-8/16113322_10210435002264478_5050933991982571490_o.jpg?oh=058c993720ab238bf121f4bf6d72f407&oe=59101DBD')
        li
          h1: a(href='https://devpost.com/software/the-gift-of-food' target='_blank') The Gift of Food
          img.uk-responsive-width(src='https://scontent.xx.fbcdn.net/v/t31.0-8/15994710_10210434998304379_5037434943124658669_o.jpg?oh=255942a86af0441f495d54a585b357af&oe=590EC874')
        li
          h1: a(href='https://devpost.com/software/foodtracker' target='_blank') FoodTracker
          img.uk-responsive-width(src='https://scontent.xx.fbcdn.net/v/t31.0-8/15972380_10210434996664338_5952968470052570404_o.jpg?oh=8ad738e3f418f47c2dee8a932886d0db&oe=590A00D2')
        li
          h1: a(href='https://devpost.com/software/pseudo-code' target='_blank') Pseudo Code
          img.uk-responsive-width(src='https://scontent.xx.fbcdn.net/v/t31.0-8/15995202_10210434996544335_8620510239992132387_o.jpg?oh=3bc9108ddc49851ec290446f6f175d25&oe=590FBE8C')
        li
          h1: a(href='https://devpost.com/software/pinpoint-o92qis' target='_blank') Pinpoint
          img(src='https://scontent.fsnc1-2.fna.fbcdn.net/v/t31.0-8/16107108_10210434996704339_6693373703389521719_o.jpg?oh=ab851df0630028547aac1d3534514ff6&oe=59125C36')
      hr
    .uk-section#smt: .uk-container.uk-container-small
      h1 Coming to a Bay Area location near you.
      img(src='brushlogo.png')
      p.uk-text-lead.uk-text-right Fall 2017
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.4/js/uikit.min.js')