//DESIGNED BY BEN PANG (Github: @molarmanful)
doctype html
html
  head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.load.min.js')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
    title SM Hacks
    link(rel='stylesheet prefetch' href='bootstrap.css')
    link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Cabin')
    link(rel='stylesheet prefetch' href='style.css')
    script.
      head.load('//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js','//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js','//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js','//rawgit.com/nckprsn/scrollme/master/jquery.scrollme.min.js','main.js')
  body
    .loading
      img#logo(src='logo_2.0_solo.svg')
      .circle
    #particles-js.bg
    .cover
      .container.text-center
        .row
          .col-sm-12
            h1#home SM Hacks
            h3 September 17-18, 2016
            p.lead San Mateo's first <b>high school</b> hackathon.
            //a.btn.btn-lg.btn-default Sign up!
            br
            i.fa.fa-angle-down.fa-5x.scrollme.animateme(data-when='exit' data-from=0 data-to=.5 data-translatey=500 data-rotatez=360 data-opacity=0)
    nav.navbar.navbar-default(data-spy='affix')
      .navbar-header
        b.navbar-brand SM Hacks
        button.navbar-toggle.collapsed(data-toggle='collapse' data-target='#collapse' aria-expanded='false')
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #collapse.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li: a(href='#faq') FAQ
          //li: a(href='#schedule') Schedule
          li: a(href='#sponsors') Sponsors
          li: a(href='#partners') Partners
          li: a(href='#update') Subscribe
    .content
      .container
        br
        br
        br
        br
        #faq.scrollme.animateme(data-when='enter' data-from=.5 data-to=0 data-translatex=1000)
          h2.text-center FAQ
          .row.scrollme.animateme(data-when='enter' data-from=.5 data-to=0 data-translatey=1000)
            .col-sm-4
              h3 What is SM Hacks?
              p SM Hacks is a 200-person hackathon that will gather the innovators of tomorrow into an amazing experience.
            .col-sm-4
              h3 What is a hackathon?
              p A hackathon is a 24-hour programming marathon where your ideas come to life. Over the course of the weekend, students from all backgrounds and all skill levels collaborate in teams of up to four to build something awesome.
            .col-sm-4
              h3 What if I don't know how to code?
              p No worries! SM Hacks is the perfect time to learn how to code and all students, regardless of skill level and experience, are welcome. There will be plenty of mentors on hand glad to answer any and all questions and workshops specifically designed for those with no prior experience. #[a(href='#update') Stay tuned] for more information about workshops!
          .row.scrollme.animateme(data-when='enter' data-from=.5 data-to=0 data-translatey=1000)
            .col-sm-4
              h3 Do I have to be in high school?
              p Yes, only current high school students will be able to attend. Unfortunately, we are not accepting middle school students. College students are welcome to help out as mentors!
            .col-sm-4
              h3 What if I don't have a team or an idea?
              p No worries! It is not uncommon for people to come into the hackathon without an already-formed group, but we'll make sure you're matched with the right people. We will have a team formation and ideation session the first night so everyone can find the perfect team and come up with awesome ideas, so don't you worry first-time hackers!
            .col-sm-4
              h3 How big can teams be?
              p Teams can be up to four people. While you may work as an individual, we highly encourage collaborating with others. If you don't have a team or need help finding one, make sure not to miss our team formation and ideation session on Saturday.
          .row.scrollme.animateme(data-when='enter' data-from=.5 data-to=0 data-translatey=1000)
            .col-sm-4
              h3 What should I bring?
              p Attendees should bring a valid student ID or some other form of identification, as well as a signed and completed waiver. Bring laptops and chargers, along with any other technology that you may want to use! We will have designated sleeping spots so feel free to bring a sleeping bag and pillow. Also it is highly suggested that you bring toiletries so you can feel refreshed and beautiful!
            .col-sm-4
              h3 How much does it cost to attend?
              p Nothing! Just bring your beautiful self and ideas and we will provide you with the food, Wi-Fi, workspace, and swag!
            .col-sm-4
              h3 How can I apply?
              p Applications are not open yet, but they will be processed on a rolling basis. To be notified when applications are open, #[a(href='#update') subscribe].
          .row.scrollme.animateme(data-when='enter' data-from=.5 data-to=0 data-translatey=1000)
            .col-sm-4
              h3 What is the schedule like?
              p It will be from Saturday, September 17 through Sunday, September 18th. Be sure to check back for a more specific schedule, but don't worry! There will be plenty of fun activities that will keep you entertained.
            .col-sm-4
              h3 What if I have another question?
              p Email us at <a href='mailto:hi@smhacks.com'>hi@smhacks.com</a> if you have any additional questions. We are always happy to help!
        hr
        //
          #schedule.scrollme.animateme(data-when='enter' data-from=.5 data-to=0 data-translatex=-1000)
            h2.text-center Schedule
            .row.animateme(data-when='enter' data-from=.5 data-to=0 data-translatey=1000)
              .col-sm-6.text-center
                h3 Day 1
                ul.list-unstyled
                  li TBD
              .col-sm-6.text-center
                h3 Day 2
                ul.list-unstyled
                  li TBD
          hr
        #sponsors.scrollme.animateme(data-when='enter' data-from=.5 data-to=0 data-translatex=1000)
          h2.text-center Sponsors
          .row
            .col-sm-12.text-center
              p.lead We will be announcing our full list of awesome sponsors soon! Want to get involved?
              a.btn.btn-primary.btn-lg.animateme(data-when='enter' data-from=.5 data-to=0 data-opacity=0 data-translatey=200 href='sponsor.pdf' target='_blank') Get the Sponsorship Packet!
          br
          br
          br
          .row.text-center
            .col-sm-4
              a(href='https://hackclub.com' target='_blank')
                img.animateme(data-when='enter' data-from=.5 data-to=0 data-translatey=1000 src='hackclub.png' id='hackclub')
            .col-sm-4
              a(href='http://www.justinmind.com' target='_blank')
                img.animateme(data-when='enter' data-from=.5 data-to=0 data-translatey=1000 src='justinmind.png' id='justinmind')
            .col-sm-4
              a(href='http://mlworks.com' target='_blank')
                img.animateme(data-when='enter' data-from=.5 data-to=0 data-translatey=1000 src='mlw.png' id='mlw')
        hr
        #partners.scrollme.animateme(data-when='enter' data-from=.5 data-to=0 data-translatex=-1000)
          h2.text-center Partners
          .row.text-center
            .col-sm-6
              a(href='http://streameducation.org' target='_blank')
                img.animateme(data-when='enter' data-from=.5 data-to=0 data-translatey=1000 src='stream.png' id='stream')
            .col-sm-6
              a(href='https://mlh.io' target='_blank')
                img.animateme(data-when='enter' data-from=.5 data-to=0 data-translatey=1000 src='mlh.png' id='mlh')
        hr
        #update.scrollme.animateme(data-when='enter' data-from=.5 data-to=0 data-translatex=1000)
          h2.text-center Subscribe
          .row
            .col-sm-12.text-center
              p.lead Enter your email here to receive updates from SM Hacks!
              .row
                .col-sm-3
                .col-sm-6
                  .input-group
                    input.form-control#u.animateme(data-when='enter' data-from=.5 data-to=0 data-translatey=200 placeholder='johnsmith@example.com' type='email')
                    .input-group-btn
                      button.btn.btn-primary#s Submit!
                  .alert.alert-dismissible#a(role='alert')
        hr
        br
        br
        br
        br
        br
        br
        footer.footer.scrollme.animateme(data-when='enter' data-from=1 data-to=0 data-translatey=1000)
          .container
            .row
              .col-sm-1.text-center
                img(src='logo_2.0_solo.svg')
              .col-sm-7.hidden-xs
                p.text-muted Made with <i class='fa fa-heart' style='color:#ff7242'></i> by SM Hacks.
              .col-sm-4.hidden-xs
