//output: index.html
doctype html
html
  head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.load.min.js')
    link(rel='shortcut icon' href='logo.png' type='image/png')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-capable' content='yes')
    link(rel='apple-touch-icon' href='logo.png')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
    meta(name='description' content="San Mateo's first high school hackathon.")
    meta(name='keywords' content='san mateo hackathon, sm hackathon, san mateo hacks, sm hacks, smhacks, san mateo high school, smhs, smhs hackathon, high school hackathon, hackathon, san mateo')
    link(rel='author' href='https://plus.google.com/+BenPangMolarmanful')
    link(rel='canonical' href='http://smhacks.com')
    meta(property='og:site_name' content='SM Hacks')
    meta(property='og:title' content='SM Hacks')
    meta(property='og:description' content="San Mateo's first high school hackathon.")
    meta(property='og:image' content='logo.png')
    meta(property='og:url' content="http://smhacks.com")
    title SM Hacks
    link(rel='stylesheet prefetch' href='bootstrap.css')
    link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Quicksand')
    link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Cabin:400,700')
    link(rel='stylesheet prefetch' href='style.css')
    noscript
      link(rel='stylesheet prefetch' href='noscript.css')
    script.
      head.load('https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js','https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js','main.js')
  body
    .cover#top
      .container.text-center
        .row
          .col-sm-12
            img.logo(src='logo.png')
            .rest
              h3 San Mateo's first <b>high school</b> hackathon!
              p.lead January 14-15, 2017 @ <a href='https://www.google.com/maps/place/Informatica+Corporation/@37.5111227,-122.2051784,15z/data=!4m5!3m4!1s0x0:0xc479e59839708591!8m2!3d37.5111227!4d-122.2051784' target='_blank'>Informatica</a>
              a.btn.btn-default.btn-lg(data-toggle='modal' data-target='#m') Sign up now!
            
    nav.navbar.navbar-default.navbar-fixed-bottom
      .navbar-header
        a.navbar-brand(href='#top'): img(src='logo.png' style='height:110%;width:auto')
        button.navbar-toggle.collapsed(data-toggle='collapse' data-target='#collapse' aria-expanded='false')
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #collapse.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li: a(href='#faq') FAQ
          li: a(href='#schedule') Schedule
          li: a(href='#sponsors') Sponsors / Partners
          li: a(href='#team') Team
          li: a(href='#update') Subscribe
    #faq.content
      .container
        h2.text-center FAQ
        .row
          .col-sm-4
            h3 What is SM Hacks?
            p SM Hacks is a 200-person hackathon that will gather the innovators of tomorrow into an amazing experience. It will be held Saturday, Jan. 14 to Sunday, Jan. 15 at <a href='https://www.google.com/maps/place/Informatica+Corporation/@37.5111227,-122.2051784,15z/data=!4m5!3m4!1s0x0:0xc479e59839708591!8m2!3d37.5111227!4d-122.2051784' target='_blank'>Informatica</a>.
          .col-sm-4
            h3 What is a hackathon?
            p A hackathon is a 24-hour programming marathon where your ideas come to life. Over the course of the weekend, students from all backgrounds and all skill levels collaborate in teams of up to four to build something awesome.
          .col-sm-4
            h3 What if I don't know how to code?
            p No worries! SM Hacks is the perfect time to learn how to code and all students, regardless of skill level and experience, are welcome. There will be plenty of mentors on hand glad to answer any and all questions and workshops specifically designed for those with no prior experience. #[a(href='#update') Stay tuned] for more information about workshops!
        .row
          .col-sm-4
            h3 Do I have to be in high school?
            p Yes, only current high school students will be able to attend. Unfortunately, we are not accepting middle school students. However, college students are welcome to help out. To mentor or lead a workshop, email #[a(target='_blank' href='mailto:volunteer@smhacks.com') volunteer@smhacks.com] for more details.
          .col-sm-4
            h3 What if I don't have a team or an idea?
            p No worries! It is not uncommon for people to come into the hackathon without an already-formed group, but we'll make sure you're matched with the right people. We will have a team formation and ideation session the first night so everyone can find the perfect team and come up with awesome ideas, so don't you worry first-time hackers!
          .col-sm-4
            h3 How big can teams be?
            p Teams can be up to four people. While you may work as an individual, we highly encourage collaborating with others. If you don't have a team or need help finding one, make sure not to miss our team formation and ideation session on Saturday.
        .row
          .col-sm-4
            h3 What should I bring?
            p Attendees should bring a valid student ID or some other form of identification, as well as a signed and completed waiver. Bring laptops and chargers, along with any other technology that you may want to use! We will have designated sleeping spots so feel free to bring a sleeping bag and pillow. Also it is highly suggested that you bring toiletries so you can feel refreshed and beautiful!
          .col-sm-4
            h3 How much does it cost to attend?
            p Nothing! Just bring your beautiful self and ideas and we will provide you with the food, Wi-Fi, workspace, and swag!
          .col-sm-4
            h3 How can I apply?
            p For attendees, just fill out #[a(href='https://smhacks.typeform.com/to/SZPVdt') this form]. Mentors, be sure to #[a(href='#update') subscribe] for the latest updates!
        .row
          .col-sm-4
            h3 What is the schedule like?
            p The tentative schedule can be found #[a(href='#schedule') here]. There will be plenty of fun activities that will keep you entertained.
          .col-sm-4
            h3 Will there be travel reimbursements?
            p Unfortunately, we will not be offering travel reimbursements this year. Please email us at #[a(href='mailto:hi@smhacks.com') hi@smhacks.com] for additional details.
          .col-sm-4
            h3 What if I have another question?
            p Email us at #[a(href='mailto:hi@smhacks.com') hi@smhacks.com] if you have additional questions. Please email questions about mentoring or leading workshops to #[a(href='mailto:volunteer@smhacks.com') volunteer@smhacks.com] and sponsorship questions to #[a(href='mailto:sponsors@smhacks.com') sponsors@smhacks.com]. We are always happy to help!
    #schedule.content
      .container
        h2.text-center Schedule
        p.lead Hacking is from noon to noon.
        .row
          .col-sm-1.hidden-xs
          .col-sm-5.text-center
            h3 Saturday, Jan. 14
            ul.list-unstyled
              li <b>10:00 AM</b> - Mentor/Sponsors Check In
              li <b>11:00 AM</b> - Hacker Check In
              li <b>12:00 PM</b> - Opening Ceremony 
              li <b>12:30 PM</b> - Hacking Starts
              li <b>12:30 PM</b> - Team-mixer
              li <b>12:30 PM</b> - Lunch 
              li <b>6:30 PM</b> - Dinner
          .col-sm-5.text-center
            h3 Sunday, Jan. 15
            ul.list-unstyled
              li <b>12:00 AM</b> - Midnight Snack
              li <b>8:00 AM</b> - Breakfast 
              li <b>11AM to 12 PM</b> - Submissions
              li <b>12:00 PM</b> - Hacking Ends
              li <b>11 AM to 11:45 AM</b> - Lunch 
              li <b>12:30 PM to 1:15 PM</b> - Judging Expo
              li <b>1:45 PM</b> - Closing Ceremony
    #sponsors.content
      .container
        h2.text-center Sponsors
        .row
          .col-sm-12.text-center
            p.lead We will be announcing our full list of awesome sponsors soon! Want to get involved?
            a.btn.btn-primary.btn-lg(href='sponsor.pdf' target='_blank') Sponsorship Packet
        .row.text-center
          .col-sm-6
            a(href='http://sie.com/en' target='_blank')
              img(src='sony.png' id='sony')
          .col-sm-6
            a(href='https://google.com' target='_blank')
              img(src='google.png' id='google')
        .row.text-center.text-center
          .col-sm-6
            a(href='http://smule.com/' target='_blank')
              img(src='smule.png' id='smule')
          .col-sm-6
            a(href='https://ibm.com/' target='_blank')
              img(src='ibm.png' id='ibm')
            br
            small(style='font-size:8px') IBM and the IBM logo are trademarks of International Business Machines Corp., registered in many jurisdictions worldwide.
        .row.text-center.text-center
          .col-sm-4
            a(href='http://justinmind.com' target='_blank')
              img(src='justinmind.png' id='justinmind')
          .col-sm-4
            a(href='http://mitlaunch.com/' target='_blank')
              img(src='mit-launch.png' id='mit-launch')
          .col-sm-4
            a(href='http://mlworks.com' target='_blank')
              img(src='mlw.png' id='mlw')
        br
        br
        .row.text-center.text-center
          .col-sm-4
            a(href='http://balsamiq.com/' target='_blank')
              img(src='balsamiq.png' id='balsamiq')
          .col-sm-4
            a(href='http://wolfram.com/' target='_blank')
              img(src='wolfram.png' id='wolfram')
          .col-sm-4
            a(href='http://vilynx.com/' target='_blank')
              img(src='vilynx.png' id='vilynx')
        br
        br
        br
        h2.text-center Partners
        .row.text-center
          .col-md-3.col-sm-6
            a(href='https://hackclub.com' target='_blank')
              img(src='hackclub.png' id='hackclub')
          .col-md-3.col-sm-6
            a(href='http://streameducation.org' target='_blank')
              img(src='stream.png' id='stream')
          .col-md-3.col-sm-6
            a(href='https://hackerearth.com/' target='_blank')
              img(src='hackerearth.png' id='hackerearth')
          .col-md-3.col-sm-6
            a(href='http://www.hacker.fund/' target='_blank')
              img(src='hackerfund.png' id='hackerfund')
    #team.content
      .container
        h2.text-center SM Hacks Team
        .row.text-center
          .col-sm-3
            .member
              img.img-responsive.img-circle(src='samuel.jpg')
              .name Samuel Escapa
              .role Sponsorship Director
              .social
                a(href='http://saescapa.me' target='_blank')
                  i.fa.fa-globe
                a(href='http://twitter.saescapa.me' target='_blank')
                  i.fa.fa-twitter
                a(href='http://linkedin.saescapa.me' target='_blank')
                  i.fa.fa-linkedin
                a(href='http://github.saescapa.me' target='_blank')
                  i.fa.fa-github
          .col-sm-3
            .member.kevinf
              img.img-responsive.img-circle(src='kevinf.jpg')
              .name Kevin Fang
              .role Operations Director
              .social
                a(href='https://linkedin.com/m/profile/ACoAABoVZV4B0dLeQcQOztHldvOVmuHnWDiotvM/' target='_blank')
                  i.fa.fa-linkedin
                a(href='https://facebook.com/kevin.fang.35' target='_blank')
                  i.fa.fa-facebook-official
                a(href='https://instagram.com/fangk/' target='_blank')
                  i.fa.fa-instagram
          .col-sm-3
            .member
              img.img-responsive.img-circle(src='cindy.png')
              .name Cindy Zhang
              .role Tech Director
              .social
                a(href='https://about.me/cindyhzhang' target='_blank')
                  i.fa.fa-globe
                a(href='https://linkedin.com/in/cindyhzhang' target='_blank')
                  i.fa.fa-linkedin
                a(href='https://facebook.com/czhang99' target='_blank')
                  i.fa.fa-facebook-official
                a(href='https://github.com/cindyz8735' target='_blank')
                  i.fa.fa-github
          .col-sm-3
            .member
              img.img-responsive.img-circle(src='anna.jpg')
              .name Anna Zheng
              .role Outreach Director
              .social
                a(href='https://facebook.com/anna.zheng.716' target='_blank')
                  i.fa.fa-facebook-official
        .row.text-center
          .col-sm-3
            .member
              img.img-responsive.img-circle(src='kevinh.jpg')
              .name Kevin Huo
              .role Operations
          .col-sm-3
            .member
              img.img-responsive.img-circle(src='kiki.jpg')
              .name Kiki Lo
              .role Operations
              .social
                a(href='https://facebook.com/k1k1l0' target='_blank')
                  i.fa.fa-facebook-official
          .col-sm-3
            .member
              img.img-responsive.img-circle(src='emanuel.jpg')
              .name Emanuel Rew
              .role Operations
          .col-sm-3
            .member
              img.img-responsive.img-circle(src='maggie.jpg')
              .name Maggie Dong
              .role Outreach
              .social
                a(href='https://facebook.com/maggie.dong.79' target='_blank')
                  i.fa.fa-facebook-official
        .row.text-center
          .col-sm-3.col-xs-hidden(style='width:12.499999995%')
          .col-sm-3
            .member
              img.img-responsive.img-circle(src='thomas.jpg')
              .name Thomas Weathers
              .role Outreach
              .social
                a(href='https://facebook.com/thomas.weathers.415' target='_blank')
                  i.fa.fa-facebook-official
                a(href='https://twitter.com/storm_weathers1' target='_blank')
                  i.fa.fa-twitter
          .col-sm-3
            .member.anthony
              img.img-responsive.img-circle(src='anthony.png')
              .name Anthony Lam
              .role Tech
              .social
                a(href='https://github.com/99anthonylam' target='_blank')
                  i.fa.fa-github
                a(href='https://facebook.com/anthony.lam.98' target='_blank')
                  i.fa.fa-facebook-official
          .col-sm-3
            .member
              img.img-responsive.img-circle(src='ben.png')
              .name Benjamin Pang
              .role Tech
              .social
                a(href='https://github.com/molarmanful' target='_blank')
                  i.fa.fa-github
                a(href='https://codegolf.stackexchange.com/users/41247/mama-fun-roll' target='_blank')
                  i.fa.fa-stack-exchange
                a(href='https://reddit.com/u/molarmanful' target='_blank')
                  i.fa.fa-reddit
                a(href='http://molarmanful.com' target='_blank')
                  i.fa.fa-globe
    #update.content
      .container
        h2.text-center Subscribe
        .row
          .col-sm-12.text-center
            p.lead Enter your email here to receive updates from SM Hacks!
            .row
              .col-sm-3
              .col-sm-6
                .input-group
                  input.form-control#u(placeholder='johnsmith@example.com' type='email')
                  .input-group-btn
                    button.btn.btn-primary#s Submit!
                .alert.alert-dismissible#a(role='alert')
    //footer.footer
      .container
        .row
          .col-sm-1.col-xs-6.text-center
            img(src='logo.png')
          .col-sm-7.hidden-xs
            p.text-muted Made with <i class='fa fa-heart' style='color:#ff7242'></i> by SM Hacks.
          .col-sm-2.hidden-xs
          .col-sm-2.col-xs-6.text-center
            p
              a.btn.btn-info(href='https://facebook.com/sanmateohacks' target='_blank' style='background-color:transparent; border:none; display:inline-block')
                i.fa.fa-facebook-square.fa-3x
              a.btn.btn-info(href='https://twitter.com/sanmateohacks' target='_blank' style='background-color:transparent; border:none; display:inline-block')
                i.fa.fa-twitter-square.fa-3x
    .modal.fade#m(tabindex="-1" role="dialog")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') &times;
            h1.modal-title Sign Up
          .modal-body.text-center
            h3
              a.btn.btn-default(href='https://smhacks.typeform.com/to/SZPVdt' target='_blank') Hacker
              |  or 
              a.btn.btn-default(disabled=true) Mentor (Coming soon!)
              |?
          .modal-footer
            button.btn.btn-primary(data-dismiss='modal') Cancel
